name: [ompd] Sanity Check Pull Requests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  smoke_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Check format
        run: cargo fmt -- --check

      - name: Prep container
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y libdbus-1-dev dbus libxcb1-dev

      - name: Build (dbg)
        run: cargo build

      - name: Lint
        run: cargo clippy -- -D warnings
